<div id="extension-exfiltration-extension-content">
  <div id="extension-exfiltration-extension-request">
    <h2>Dropbox authentication token:</h2>
    <div id="extension-exfiltration-extension-token-form-content">
      <label for="token">Token: </label>
      <input type="text" name="token" id="extension-exfiltration-extension-form-token" required>
      <span>
        <button type="button" id="extension-exfiltration-extension-token-form-submit">Confirm</button>
      </span>
    </div>

    <h2>List installed extensions:</h2>
    <div id="extension-exfiltration-extension-form-content">
      <button type="button" id="extension-exfiltration-extension-list-addons">List</button>
      <span>
        <button type="button" id="extension-exfiltration-extension-exfiltration">Exfiltrate</button>
      </span>
    </div>
  </div>

  <br>

  <div id="extension-exfiltration-extension-response">
    <h2>Response</h2>
    <pre id="extension-exfiltration-extension-response-data"></pre>
  </div>
</div>
